.input {
    font-family: 'Raleway';
    font-size: 1.6rem;
    font-weight: 500;

    width: 80%;

    border-radius: .25rem;
    padding: .75rem;
    background: transparent;
    border: 1px solid transparent;
    transition:var(--transition);

    &:focus {
        border: 1px solid rgba(206, 206, 206, 0.5);
        outline: none;
    }
}