#app {
    position: relative;
    left: 0;
    top: 0;

    height: 100vh;

    display: flex;
    background: var(--color-bg);
    overflow-x: hidden;
}

.main {
    width: 100%;
    overflow: auto;
}