.boards-list {
    position: relative;

    width: 90%;

    margin-bottom: 5rem;

    &__header {
        font-size: 1.3rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;

        color: var(--color-grey-dark);
        margin-bottom: 2.5rem;
    }
}