.board {
    display: flex;
    flex-direction: column;

    padding: 4rem;

    &__board-list {
        display: flex;
    }

    &__list {
        display: flex;
        flex-wrap: nowrap;
    }

    &__add-button {
        display: flex;
        justify-content: center;

        height: fit-content;
        width: 25rem;

        padding: 2rem;
        border-radius: var(--border-radius);
        background: var(--color-white);
        box-shadow: var(--drop-shadow);
        cursor: pointer;
    }
}