.board-item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 2.5rem;
    }

    &__square {
        width: 3rem;

        margin-right: 2rem;
    }

    &__title {
        font-weight: 500;
        font-size: 1.5rem;
    }

    &__actions {
        position: absolute;
        right: 0;

        transition: var(--transition-3);
    }

    &__thrash {
        width: 1.75rem;
    }

    &__star {
        width: 1.75rem;
    }
}

.hide {
    opacity: 0;
}