.color-label {
    width: 5rem;
    height: 3px;
    border-radius: 3px;

    &:not(:last-child) {
        margin-right: 5px;
    }

    &__wrapper {
        display: flex;
        margin-bottom: 1rem;
    }
}

.label-green {
    background: var(--label-green);
}

.label-yellow {
    background: var(--label-yellow);
}

.label-orange {
    background: var(--label-orange);
}

.label-red {
    background: var(--label-red);
}

.label-purple {
    background: var(--label-purple);
}

.label-blue {
    background: var(--label-blue);
}