.dropdown {
    position: absolute;

    box-shadow: var(--drop-shadow);

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;

        width: 13rem;
        padding: 1rem 0;
        border-radius: .5rem;
        background: var(--color-white);
    }

    &__item {
        padding: .75rem;

        &:hover {
            background: rgba(0, 0, 0, 0.1)
        }
    }

    &__icon {
        margin-right: 1rem;
    }

    &__arrow {
        position: absolute;
        right: 2rem;
        top: -1.5rem;

        font-size: 2.5rem;
        color: var(--color-white);
    }
}

.position-column {
    top: 5rem;
    right: -5px;
}

.position-item {
    top: 10.5rem;
    right: 1rem;
}