.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.5);

    transition: var(--transition-3);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 200;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "title card-actions"
        "labels card-actions"
        "description card-actions"
        "comments card-actions"
        "activity card-actions";

    width: 75rem;
    height: 50rem;

    background: var(--color-white);

    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: var(--drop-shadow);
    transition: var(--transition-3);

    &__close-icon {
        position: absolute;
        top: 2rem;
        right: 2rem;

        width: 1.5rem;
        fill: var(--color-grey);
        cursor: pointer;
        transition: var(--transition-3);

        &:hover {
            fill: var(--color-black);
        }
    }

    &__list-name {
        text-decoration: underline;
        cursor: pointer;
    }

    // modal areas
    &__title {
        grid-area: title;
    }

    &__labels {
        grid-area: labels;
    }

    &__description {
        grid-area: description;
    }

    &__comments {
        grid-area: comments;
    }

    &__card-actions {
        grid-area: card-actions;
    }
}

.modal-icon {
    width: 2rem;
}