.sidebar {
    position: relative;

    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 25rem;

    padding: 2rem;
    border-right: 1px solid black;
    transition: all .3s ease-in-out;

    &__icon {
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
    }
}

.small {
    flex: 0 0 10rem;
    transition: all .3s ease-in-out;
}