.workspace {
    display: flex;

    &__list {
        display: flex;
        flex-wrap: nowrap;
    }

    &__add-button {
        display: flex;
        justify-content: center;

        height: 100%;
        width: 25rem;

        padding: 2rem;
        border-radius: var(--border-radius);
        background: var(--color-white);
        box-shadow: var(--drop-shadow);
        cursor: pointer;
    }
}