:root {
    // colors
    --color-white: #ffffff;
    --color-grey: #cecece;

    --color-bg: #f1f1f1;

    --border-radius: .5rem;
    --border: 1px solid #efefef;

    --drop-shadow: 0 5px .75rem rgba(0, 0, 0, .1);

    --transition-2: all .2s ease-in-out;
    --transition-3: all .3s ease-in-out;
}