:root {
    // colors
    --color-primary: #14aaf5;

    --color-white: #fff;
    --color-black: #000;

    --color-grey: #cecece;
    --color-grey-dark: #a5a5a5;
    --color-grey-light: #efefef;

    --color-hover: #646464;

    --color-bg: #f1f1f1;

    --border-radius: .5rem;
    --border: 1px solid #efefef;

    --drop-shadow: 0 5px .75rem rgba(0, 0, 0, .1);
    --drop-shadow-hover: 0 1rem .75rem rgba(0, 0, 0, .1);

    --drop-shadow-button: 0 3px .75rem rgba(0, 0, 0, .1);

    --transition-2: all .2s ease-in-out;
    --transition-3: all .3s ease-in-out;

    // color labels
    --label-green: #61bd4f;
    --label-light-green: #06D6A0;
    --label-yellow: #f2d600;
    --label-orange: #ff9f1a;
    --label-red: #eb5a46;
    --label-purple: #c377e0;
    --label-blue: #0079bf;
    --label-light-blue: #5BC0EB;
    --label-pink: #F0A6CA;
    --label-bright-pink: #e438aa;

}