.board-card {
    position: relative;

    width: 15rem;
    height: 7rem;

    margin: 1.5rem;
    padding: .75rem;
    border-radius: var(--border-radius);
    box-shadow: var(--drop-shadow);
    cursor: pointer;

    transition: var(--transition-2);

    &:hover {
        transform: translateY(-.5rem);
        box-shadow: var(--drop-shadow-hover);

        transition: var(--transition-2);

        .board-card__star {
            fill: var(--color-white);
        }
    }

    &__title {
        color: white;
    }

    &__star {
        position: absolute;
        right: 7px;
        bottom: 7px;

        fill: transparent;

        transition: var(--transition-2);

        &:hover {
            transform: scale(1.25);
            transition: var(--transition-2);
        }
    }

    &__star-favorite {
        position: absolute;
        right: 7px;
        bottom: 7px;

        fill: yellow;

        transition: var(--transition-2);

        &:hover {
            transform: scale(1.25);
            transition: var(--transition-2);
        }
    }
}
