.board-item {
    display: flex;
    align-items: center;

    cursor: pointer;

    &:not(:last-child) {
        margin-bottom: 2.5rem;
    }

    &__title {
        font-weight: 500;
        font-size: 1.5rem;
    }

    &__actions {
        position: absolute;
        right: 0;

        transition: var(--transition-3);
    }
}

.hide {
    opacity: 0;
}