.board-card {
    position: relative;

    width: 15rem;
    height: 7rem;

    margin: 1.5rem;
    padding: .75rem;
    border-radius: var(--border-radius);
    box-shadow: var(--drop-shadow);
    cursor: pointer;

    &__star {
        position: absolute;
        right: 7px;
        bottom: 7px;

        transition: var(--transition-2);

        &--active {
            fill: rgb(219, 219, 0);
        }

        &:hover {
            transform: scale(1.25);
        }
    }
}
