.board-list {
    margin-bottom: 5rem;

    &__header {
        font-size: 1.3rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;

        color: var(--color-grey-dark);
        margin: 0 0 1rem 1.75rem;
    }

    &__list {
        display: flex;
    }
}