.board-card {
    @include flex-center-align;
    flex-direction: column;

    margin: 1.5rem;
    border-radius: var(--border-radius);
    box-shadow: var(--drop-shadow);
    cursor: pointer;

    &__title {
        transform: translateY(-5px);
        padding: 1rem;
    }

    &__actions {

    }

    &__star {
        // position: absolute;
        // right: 0;
        // bottom: 5px;

        // transition: var(--transition-2);
        // fill: transparent;
    }
}
