.calendar {
    display: flex;
    flex-direction: column;

    position: relative;

    padding: 4rem;

    &__list {
        position: relative;
        top: 7rem;

        display: flex;
        flex-direction: column;

        height: 75vh;

        background: var(--color-white);
        border-radius: var(--border-radius);
        box-shadow: var(--drop-shadow);
    }

    &__day-name {
        color: var(--color-grey-dark);
    }
}