.color-label {
    width: 3.5rem;
    height: 2.5px;
    border-radius: 3px;
    margin-right: 5px;
}

.label-green {
    background: var(--label-green);
}

.label-yellow {
    background: var(--label-yellow);
}

.label-orange {
    background: var(--label-orange);
}

.label-red {
    background: var(--label-red);
}

.label-purple {
    background: var(--label-purple);
}

.label-blue {
    background: var(--label-blue);
}