.label-green {
    fill: var(--label-green);
}

.label-light-green {
    fill: var(--label-light-green);
}

.label-yellow {
    fill: var(--label-yellow);
}

.label-orange {
    fill: var(--label-orange);
}

.label-red {
    fill: var(--label-red);
}

.label-purple {
    fill: var(--label-purple);
}

.label-blue {
    fill: var(--label-blue);
}

.label-light-blue {
    fill: var(--label-light-blue);
}

.label-blue {
    fill: var(--label-blue);
}

.label-pink {
    fill: var(--label-pink);
}

.label-bright-pink {
    fill: var(--label-bright-pink);
}