.dropdown {
    position: absolute;
    z-index: 100;

    box-shadow: var(--drop-shadow);

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;

        width: 13rem;
        padding: 1rem 0;
        border: 1px solid rgb(214, 214, 214);
        border-radius: .5rem;
        background: var(--color-white);
    }

    &__item {
        padding: .75rem;
        cursor: pointer;

        &:hover {
            background: var(--color-primary);
            color: var(--color-white);
        }
    }

    &__icon {
        margin-right: 1rem;
    }

    &__arrow {
        position: absolute;
        right: 2rem;
        top: -1.5rem;

        font-size: 2.5rem;
        color: var(--color-white);
    }
}

.position-column {
    top: 5rem;
    right: -5px;
}

.position-item {
    top: 4.5rem;
    right: -1rem;
}