.modal-item {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "title card-actions"
        "labels card-actions"
        "description card-actions"
        "comments card-actions"
        "activity card-actions";

    height: 100%;

    &__icon {
        height: 100%;
        margin-right: 1rem;
    }

    &__input {
        font-family: 'Raleway';
        font-size: 1.6rem;
        font-weight: 500;

        width: 80%;

        border-radius: .25rem;
        padding: .75rem;
        background: transparent;
        border: 1px solid transparent;
        transition:var(--transition);
        transform: translate(-1rem, -8px);

        &:focus {
            border: 1px solid rgba(206, 206, 206, 0.5);
            outline: none;
        }
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__sub-title {
        font-size: 1.35rem;
        transform: translateY(-7px);
    }

    &__list-name {
        text-decoration: underline;
        cursor: pointer;
    }

    &__content {
        padding-left: .75rem;
        width: 100%;
    }

    // modal areas
    &__title {
        grid-area: title;
        display: flex;
    }

    &__labels {
        grid-area: labels;
        display: flex;
    }

    &__description {
        grid-area: description;
        display: flex;
    }

    &__comments {
        grid-area: comments;
        display: flex;
    }

    &__activity {
        grid-area: activity;
        display: flex;
    }

    &__card-actions {
        grid-area: card-actions;
    }
}