// rename for global use
.sidebar {
    position: absolute;
    z-index: 10;

    height: 100vh;
    width: 30rem;

    @include flex-align;
    flex-direction: column;

    padding: 2rem;
    border-right: var(--border);
    background: var(--color-white);
    transition: transform .5s ease-in-out .2s, width .1s;

    &__close-icon {
        position: absolute;
        top: 2rem;
        right: 2rem;

        width: 1.5rem;
        fill: var(--color-grey);
        cursor: pointer;
        transition: var(--transition-3);

        &:hover {
            fill: var(--color-black);
        }
    }

    &__list {
        width: 100%
    }

    &__settings-icon {
        position: absolute;
        left: 3rem;
        bottom: 3rem;

        width: 2rem;
        fill: var(--color-grey);
        transition: var(--transition-3);
        cursor: pointer;

        &:hover {
            fill: var(--color-black)
        }
    }
}

// specific styles for both menus
.user-menu {
    right: 0;
    box-shadow: -1rem 0 2rem rgba(206, 206, 206, .5);
}

.boards-menu {
    left: 0;
    box-shadow: 1rem 0 2rem rgba(206, 206, 206, .5);
}

// styles for closed state
.boards-closed {
    transform: translateX(-35rem);
}

.user-closed {
    transform: translateX(35rem);
}