.user-btn {
    @include flex-align;

    margin-right: 1rem;
    cursor: pointer;

    &:hover > .user-btn__text {
        color: var(--color-hover);
        transition: var(--transition-3);
    }

    &__img {
        width: 4rem;

        margin-right: 1rem;
        border-radius: var(--border-radius);
    }

    &__text {
        font-size: 1.5rem;
        font-weight: 500;

        color: var(--color-grey);
        transition: var(--transition-3);
    }
}